<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<html>
<head>
    <title>DDPM Dashboard</title>
</head>
<ul class="nav nav-pills">
    <li><a data-toggle="pill" href="#"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
    <li class="active"><a data-toggle="pill" href="#home">DDPM Dashboard</a></li>
    <li><a href="#" data-toggle="pill">Bugs</a></li>
    <li><a href="#" data-toggle="pill" class="not-active">Code Reviews</a></li>
    <li><a href="#" data-toggle="pill" class="not-active">Test Executions</a></li>
    <li><a href="#" data-toggle="pill" class="not-active">Code Commits</a></li>
</ul>
<body>
<script>
$(document).ready(function(){
    $("#template_save_msg").hide();
});

    function changeElementValue(id, value){
        document.getElementById(id).innerHTML = value
        console.log('element id:' + id + ' and value:' + value)
    }

    function createTemplate(){
        var score = {}
        var attributes = {{attributes|safe}}
        console.log('attributes as attributes:' + attributes)
        for (item in attributes){
            console.log('Item:' + attributes[item])
            score[attributes[item]] = parseInt(document.getElementById(attributes[item]).innerHTML)
        }
        console.log('Template:' + JSON.stringify(score));
        $.ajax({url:"/save_template",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(score),
            success: function(response){
                console.log(response)
                displayTemplateSavedMsg(response)
                event.preventDefault()
            },
            error: function(error){
                console.log(error)
                displayTemplateSavedMsg(error)
                event.preventDefault()
            }
        });
    }

    function displayTemplateSavedMsg(response){
        console.log('Displaying template saved message:' + response)
        message = 'Template saved as:' + response
        $("#template_save_msg").html(message)
        $("#template_save_msg").show()
    }
</script>
<br>
<div style="font-weight: bold;">Weights</div>
<br>
{% for attribute in attributes %}
    {% set weight_attribute = attribute + '-' + 'weight' %}
    <input id="{{ weight_attribute }}" type="range" min="1" max="10" step="1" value="3" style="width:30%" onchange="changeElementValue('{{ attribute }}', this.value)">
    {{ attribute }} = <span id="{{ attribute }}">3</span>
{% endfor %}

<br><br>
<input type="submit" class="btn btn-default" onclick="createTemplate()">
<p id="template_save_msg" class="text-danger"></p>

</body>
</html>

